build/*
dist/*
ReGraph.egg-info/
regraph/library/__pycache__/
venv/*
regraph/__pycache__/
tests/__pycache__/
tests/*.png
*.pyc
regraph/library/tmp.py
tests/example_tests.py
tests/example_tests_without_pbc.py
logs*
tests/output_graph.xml
tests/output_graph.json
tests/rand/*
tests/big_graph0/*
tests/gen_big_graph.py
tests/tester/*
tests/looper.py
tests/graph_output.json
*.png
script
todo.txt
.vscode/*
js_tests/node_modules/*
push.js
RegraphGui
examples/.ipynb_checkpoints/
.pylintrc
regraph/bin/*